body {
  font-family: 'Press Start 2P', cursive;
  background-color: #ffe6f2;
  color: #333333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
#three-container {
  width: 100%;
  height: 300px;
  position: relative;
}

h1{
  color: #ff69b4;
  font-size: 1rem;
}

@keyframes background-slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 0;
  }
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e1bee7' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-1.95 1.41 1.95H0v-40h38.59l-1.95 2.83-1.95-2.83L0 3.77zM0 0l6.09 6.09L0 12.18zm40-2.83L37.16 0H40zM20 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 500px 500px;
  animation: background-slide 10s linear infinite;
}



.kawaii-title {
  text-align: center;
  text-shadow: 2px 2px 4px #ff9ecf;
}

.kawaii-letter {
  border-radius: 10px;
  padding: 2rem;
}

.kawaii-letter p {
  line-height: 1.5;
}

.kawaii-letter p:first-child {
  margin-top: 0;
}

.kawaii-letter p:last-child {
  margin-bottom: 0;
}

.heart {
  position: absolute;
  font-size: 2rem;
  animation: float 3s ease-in-out infinite;
  color: #ff69b4;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-5rem) rotate(180deg);
    opacity: 0;
  }
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.05) 1%);
  background-size: 100% 2rem, 2rem 100%, 1rem 1rem;
}

.kaomoji {
  font-size: 2rem;
  position: absolute;
  opacity: 0.1;
  user-select: none;
  pointer-events: none;
  animation: float 10s linear infinite;
}
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-1rem) rotate(360deg);
    opacity: 0.1;
  }
}
